@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;

  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;
  --color-secondary: #475569;
  --color-secondary-hover: #334155;
  --color-accent: #F97316;
  --color-accent-hover: #EA580C;
  --color-bg-beige: #F8FAFC;
  --color-bg-card: #FFFFFF;
  --color-text-dark: #0F172A;
  --color-text-muted: #64748B;
  --color-success: #22C55E;
  --color-error: #EF4444;
}